.appContainer{
    background-color: #c5f0ff
}

.headerContainer {
    background-color: #c5f0ff;
    width: 800px;
    margin: 0 auto;
}

.app{
    background-color: #f9fdff;
    height: 620px;
    width: 800px;
    margin: 0 auto;
    filter: drop-shadow(0 0 20px #b1c8d1);
}