html {
    font-size: 62.5%;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
    box-sizing: border-box;
    background-color: #c5f0ff;
}

.shapes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.small {
    font-size: 80%;
    font-weight: 400;
}

.shapes.small .shape{
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    height: 48px;
    width: 48px;
}

.shape.triangle {
    background-image: url("img/triangle.svg");
    animation: shape-spin 7s infinite ease-in-out;
    left: 23%;
    top: 10%; 
}

.shape.circle {
    background-image: url("img/circle.svg");
    animation: shape-bounce 5s infinite ease-in-out;
}

.circle1 {
    left: 75%;
    top: 65%; 
}

.circle2 {
    left: 68%;
    top: 79%; 
}

@keyframes shape-bounce{0%{transform:translateY(0)}50%{transform:translateY(-10px)}100%{transform:translateY(0)}}
@keyframes shape-spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}