.menuContainer {
    height: 50px;
    width: 796px;
    background-color: #f9fdff;
    border: 2px solid black;
}

.colorSelector {
    clear: left;
}

.widthSelector {
    margin: 15px 5px;
    float: right;
}

#widthInput {
    width: 50px;
}

.buttonContainer6{
    cursor: default;
}